body {
    background-color:  #fff;
  }
  .title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  .card-block {
      font-size: 1em;
      position: relative;
      margin: 0;
      padding: 1em;
      border: none;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
       
  }
  .card {
      font-size: 1em;
      overflow: hidden;
      padding-top: 0;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      margin-top:20px;
  }
  
  
.container-fluid{
    margin-top: 101px;
    color:#000 !important;
} *

.card{
    background-color: #F8F9FB !important;
} */

/* p{
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
    display: fkex;
    color: #545454;
} */

h3{
    font-size: calc(24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.social{
    font-size: 21px !important; 
    color: #545454;
}


.color-text{
    color:#757575 !important;
}


 footer {
    color:#1c8ce1 !important;
 }

 footer li{
    margin-top: 20px ;
    margin-bottom: 20px ;
    color: #545454;
}

footer a{
    text-decoration: none;
    color: #545454;
}

footer li:hover {
    color: #65DAF9;
}
 
.Careers{ 
    cursor: pointer;
    color: #1E88E5;
}

.row-1{
    background-color:#fff !important;
    color: #545454;
}

.row-1 p, small {
    color: #000 !important;
}

.row-2 {
    
    background-color: #fff !important;
}

.row-2 p {
    
    color: #545454 !important;
}
  
/* .enviar-email {
    padding-right: 10px;
} */

/* .formulario-msg {
    padding-left: 5rem;
} */

.div-iframe {
    padding-top: 2px;
}