/* Estilos gerais */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin: 0;
}

.container {
    padding: 3rem 0;
}

p, li {
    color: #444;
    font-size: 1.6rem;
}

/* Barra de navegação */

.header, .navbar {
    background-color: #fff;
}

.navbar-toggler-icon {
    background-color: #5eb299 !important;
}


#nav_container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

/* #acionador span {
    color: #5eb299;
} */

.navbar-brand:hover {
    color: #5eb299;
}

.nav-link {
    color: #545454;
}

.nav-link:hover {
    color: #5eb299;
    
}

#home-menu {
    transform: 1.5%;
    color: rgb(247, 44, 44);
}

.navbar-expand-lg, .navbar-nav, .nav-link {
    padding: 1rem .8rem;
}

.nav-link {
    font-size: 1.6rem;
}

/* .navbar-projetos {
    margin-left: 2rem;
} */


/* Carrousel */

#MainSlide, .carousel-inner, .carousel-item {
    width: 200vh;
}

#MainSlide, .carousel-caption {
    top: 50%;
}

#MainSlide, .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 15px;
}

#MainSlide, .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 0px;
    
}

#main-btn {
    color: brown;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

#main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: brown;
}

.carousel-indicators .active {
    background-color: brown;
}

#size-carousel {
    width: 100vw;
    min-height: 100vh;
}

/* Sobre a empresa */

#about-area {
    background-color: #f9f9f9;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

/* .outros-diferenciais::before {
    font-size: 37px;
    color: violet;
} */

@media screen and (max-width: 760px){
    #about-area {
        img{
            width: 250px;
    };
    
    }
}

@media screen and (max-width: 600px) {
    #container-area {
      img {
        width: 250px;
      };
    }
  }

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: rgb(78, 123, 157);
    margin-right: 15px;
}

/* Seção especialidades */

.service-box {
    text-align: center;
    margin-bottom: 50px;

}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 5px;
}

.service-box:hover > i, .service-box:hover h4 {
    color: #5eb299;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  @media (min-width: 30em) {
    /* Bump up size of carousel content */
    .featurette {
      margin: 3rem;
      
    }


  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .featurette {
      margin: 3rem;
      
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin: 3rem;
    }
  }
  
  @media (min-width: 75em) {
    /* Bump up size of carousel content */
    .featurette {
      margin: 3rem;
      
    }


/* Seção Obras */

.projetos {
    padding: 30px;
}

.projetos-box {
    text-align: center;
    margin-bottom: 50px;

}

.projetos-box i, .service-box h4 {
    transition: .5s;
}

.projetos-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.projetos-box h4 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #fff;
}

.projetos-box p {
    color: #fff;
}

.projetos-box:hover > i, .projetos-box:hover h4 {
    color: #5eb299;
}

.obra {
    padding: 15px;
}

/* Seção contatos */

.secao-contatos {
    width: 50%;
    display: inline-block;
    align-items: center;
}

.secao-frame-localizacao {
    width: 100%;
    height: 600%;
    display: flex;
    align-self: center;
}

/* Seção clientes */

.botao-clientes {
    font-size: 2.2rem;
}

.card-body {
    text-align: center;
}

/* Página home */

.container-carousel {
    height: 70vh;
}


/* Seção 2 */

.div-localizacao {
    align-items: start;
    text-align: left;
    
}

.titulo-localizacao {
    color: #000;
    text-align: center;
}

.paragrafo-localizacao {
    color: #000;
}

/* .email-construtoral {
    text-transform: ;
} */

/* Footer */

footer{
    color:#545454 !important;
    margin-left: 50px;
 }

 .row-autoria {
    margin-left: 50px;
 }

 /* .construtora {
    margin-left: 0px;
 } */

 footer li{
    margin-top: 20px ;
    margin-bottom: 20px ;
    color: #545454;
}

footer a{
    color: #545454;
    text-decoration: none;
}

footer li:hover {
    color: #5eb299;
}
  
.text-light {
    color: #545454;
}

#links-rodape {
    color: #545454;
    padding-right: 2rem;
}

#logo-rodape {
    width: 70px;
}
 
.Careers{ 
    cursor: pointer;
    color: #5eb299;
}

.whatsapp i {
    color: #545454;
}

/* .row-1 {
    color:#fff !important;
    
}

.row-2 {
    
    color: #fff !important;
    
} */

#rodape-social-media img {
    /* width: 25%; */
    padding-left: 0.4rem;
}

.linkedin {
    padding-right: 0.2rem;
}

@media screen and (max-width: 600px) {
    footer {
      margin-left: 0; 
      };
      .row, row-1, row-2 {
        margin-left: 0;
        padding-left: 3rem;
      }
      
    }
 

.div-institucional {
    text-align: left;
    
}

.div-expediente {
    text-align: left;
    
}

.links-centrais-rodape {
    text-align: left;
    padding-bottom: 6px;
    font-size: 1.6rem;
}

.links-centrais-rodape a:hover {
    color: #5eb299;
}

.feito-por {
    font-size: 1.3rem;
}

/* Redes sociais lado direito da página */

.redes-sociais-1 {
    width: 8.5rem;
    position: fixed;
    bottom: 2rem;
    right: -1.5rem;
    z-index: 999;
    
  }
  
  
  .redes-sociais-1:hover {
    transform: translate(0.5rem, 0.5rem);
  }

  .redes-sociais-1 img {
    width: 60%;
        
  }

  .redes-sociais-2 {
    width: 8.5rem;
    position: fixed;
    bottom: 6rem;
    right: -1.5rem;
    z-index: 999;
    
  }
    
  .redes-sociais-2:hover {
    transform: translate(0.5rem, 0.5rem);
  }

  .redes-sociais-2 img {
    width: 55%;
        
  }

  .redes-sociais-3 {
    width: 8.5rem;
    position: fixed;
    bottom: 10rem;
    right: -1.5rem;
    z-index: 999;
    
  }
    
  .redes-sociais-3:hover {
    transform: translate(0.5rem, 0.5rem);
  }

  .redes-sociais-3 img {
    width: 60%;
        
  }

@media (max-width: 600px) {
    #contato-menu-whats,
    #contato-menu-insta,
    #contato-menu-linkd {
        img {
            width: 40%;
            right: 1rem;
            position: relative;
            z-index: 999 !important;
        }
    }
        
}

/* Página do projeto */

@media (max-width: 600px) {
    #contato-menu-whats-p,
    #contato-menu-insta-p,
    #contato-menu-linkd-p {
        img {
            width: 40%;
            right: 1.7rem;
            position: relative;
            z-index: 999 !important;
        }
    }
        
}

/* Footer Bootstrap */

/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  } */