<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obra - Construtora RFV</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="..//css/styles.css">

    <!-- Scripts -->

    <!-- Google fonts -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');
    </style>

</head>

<body>
    <header>
        <div class="container" id="nav-container">
            <nav class="navbar navbar-expand-lg fixed-top">
                <!-- Aqui vai um container -->
                <a class="navbar-brand" href="#"><img src="..//img/home/logo100.png" alt="Logo empresa"
                        id="logo">Construtora RFV</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

                    <div class="nav-item" id="home-menu">
                        <a class="nav-link" aria-current="page" href="./index.html">Home</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="./clientes.html" id="agencia-menu">Clientes</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="./area_atuacao.html" id="servicos-menu">Áreas de
                            Atuação</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="./projetos.html" id="time-menu">Obras</a>
                    </div>

                    <div class="nav-item">
                        <a class="nav-link" href="./contatos.html" id="contato-menu">Contato</a>
                    </div>

                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">

            <div class="row g-3">
                <div class="col-12 col-sm-6 obra">
                    <img src="../img/produtos/obra6/Casa6.png" alt="" class="img-thumbnail" id="imgProduto">
                    <br class="clearfix">
                    <div class="row mt-3 gx-3 mb-3">
                        <div class="col-3">
                            <img src="../img/produtos/obra6/Interiorcasa9.png" alt="" class="img-thumbnail"
                                onclick="trocarImagem(this)">
                        </div>
                        <div class="col-3">
                            <img src="../img/produtos/obra6/cosinha2.png" alt="" class="img-thumbnail"
                                onclick="trocarImagem(this)">
                        </div>
                        <div class="col-3">
                            <img src="../img/produtos/obra6/quarto3.png" alt="" class="img-thumbnail"
                                onclick="trocarImagem(this)">
                        </div>
                        <div class="col-3">
                            <img src="../img/produtos/obra6/banheiro1.png" alt="" class="img-thumbnail"
                                onclick="trocarImagem(this)">
                        </div>
                        <div class="col-3">
                            <img src="../img/produtos/obra1/sonho.png" alt="" class="img-thumbnail"
                                onclick="trocarImagem(this)">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 obra">
                    <h1>Residencial sobrado velho</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa fugiat a similique, obcaecati
                        molestiae optio, ratione nemo, repellat eius debitis aut nam dignissimos excepturi officia
                        ipsum voluptates eaque qui harum.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae pariatur fugiat repellat
                        nemo. Assumenda dolor possimus ducimus natus ad ea, a totam voluptatem, aperiam similique
                        eaque eveniet animi fugiat nulla.</p>


                    <a href="./projetos.html" class="btn btn-outline-success btn-lg mt-3">
                        <i class="bi bi-shop"></i> Ver outras obras
                    </a>
                </div>
            </div>

            <!-- Seção redes sociais -->
            <div class="services-area pt-0">
                <div class="container pt-0" id="container-area">
                    <div class="row pt-0">

                        <div class="col-md-4 service-box pt-0">
                            <div class="redes-sociais-1">
                                <a class="nav-link" href="https://wa.me/5519987203059" id="contato-menu-whats"><img
                                        src="../img/redes_sociais/WhatsApp_lateral.png"></img></a>
                            </div>
                        </div>
                        <div class="col-md-4 service-box pt-0">
                            <div class="redes-sociais-2">
                                <a class="nav-link" href="#" id="contato-menu-insta"><img
                                        src="..//img/redes_sociais/Instagram250.png"></img></a>
                            </div>
                        </div>

                        <div class="col-md-4 service-box pt-0">
                            <div class="redes-sociais-3">
                                <a class="nav-link" href="#" id="contato-menu-linkd"><img
                                        src="..//img/redes_sociais/Linkedin_sf.png"></img></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>

        <div class="row mb-0 pt-4 pb-0 row-2 px-4 ml-7">
            <div class="col-12 ml-5">
                <div class="row row-2">
                    <div class="col-sm-4 my-sm-0 mt-5">
                        <div class="justify-content-left px-2">
                            <p id="links-rodape"><span></span><b><i class="bi bi-telephone"></i></b> (19) 3466-0000
                            </p>
                        </div>
                        <div class="justify-content-left" id="rodape-social-media">
                            <a href="https://wa.me/5519987203059"><img src="..//img/redes_sociais/Instagram250.png"
                                    style="width: 10%;"></img></a>
                            <a href="https://wa.me/5519987203059"><img src="..//img/redes_sociais/WhatsApp_238.png"
                                    style="width: 10%;"></img></a>
                            <a href="https://wa.me/5519987203059"><img src="..//img/redes_sociais/linkedln.png"
                                    style="width: 10%;"></img></a>
                        </div>
                        <div class="row justify-content-left">
                            <p class="mt-3">Email:
                                comercial@construtorarfv.com.br</p>
                            <p> Rua José Whitehead, 13, Jardim Santa
                                Rosa,<br>
                                Nova Odessa, SP
                            </p>
                        </div>
                    </div>


                    <div class="col-sm-4 my-sm-0 mt-5 div-institucional ">
                        <div class="links-centrais-rodape px-2">
                            <a href="./institucional.html">
                                Institucional
                            </a>
                        </div>
                        <div class="links-centrais-rodape px-2">
                            <a href="./contatos.html">
                                Contato
                            </a>
                        </div>
                        <div class="links-centrais-rodape px-2">
                            <a href="./clientes.html">
                                Clientes
                            </a>
                        </div>
                        <div class="links-centrais-rodape px-2">
                            <a href="./projetos.html">
                                Obras
                            </a>
                        </div>

                    </div>

                    <div class="col-sm-4 my-sm-0 mt-5 div-expediente">
                        <ul class="list-unstyled">

                            <li class="mt-0 px-2">Dias de Expediente <br><span class="Careers">De Seg a Sex </span>
                            </li>


                            <li class="mt-0 px-2">Horário <br><span class="Careers">Das 07:00h as
                                    17:00h</span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        </div>
        <div class="row mb-0 pt-4 pb-3 row-2 px-4 ml-7">
            <div class="col-12 ml-5">
                <div class="row ml-5 row-1">
                    <div class="col-sm-4 text-left px-3"><small>&#9400;2024 - RFV Construtora </small>
                    </div>
                    <div class="col-sm-4 text-left div-institucional px-3">
                        <img src="..//img/home/logo100.png" alt="Logo empresa" id="logo-rodape">
                    </div>

                    <div class="col-sm-4 div-expediente px-3"><small> Feito por Livre Comércio
                            BR
                            <span class="whatsapp"><a href="https://wa.me/5519982325459"><img
                                        src="../img/redes_sociais/WhatsApp_238.png"
                                        style="width: 4%;"></a></i></span></small> </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

    <!-- Script para trocar as imagens dos imóveis -->
    <script>
        function trocarImagem(el) {
            var imgProduto = document.getElementById("imgProduto");
            imgProduto.src = el.src;
        }

    </script>

</body>

</html>