{% extends 'base.html' %}
{% load static %}


{% block title %}
Áreas de Atuação - Construtora RFV
{% endblock title %}

{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/areas_atuacao.css' %}"> -->
{% endblock head %}

{% block body %}

<section class="section-area-atuacao">
    <div class="container">
        <div class="row  d-flex row-area-atuacao">
            {% for area in areas %}
            <div class="col-lg-6 align-items-center justify-content-center img-areas-atuacao">
                <img src="{{area.imagem.url}}" alt="construcao_civil" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="titles-homepage">{{area.titulo}}</h2>
                <p>{{area.descricao}}</p>
                <button class="botao-area-atuacao">
                    <a href="{% url 'area_atuacao' area.id %}">Saiba
                        Mais</a></button>
                &nbsp;
                <button class="botao-area-atuacao">
                    <a href="{% url 'homepage' %}">Homepage</a></button>
            </div>
            <hr class="featurette-divider">
            {% endfor %}
        </div>

    </div>
</section>

{% endblock body %}