{% extends 'base.html' %}
{% load static %}


{% block title %}
Institucional - Construtora RFV
{% endblock title %}


{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/sobre.css' %}"> -->
{% endblock head %}


{% block body %}
<main>
    <!-- Seção Banner Institucional -->
    <div class="container-fluid">
        <section class="banner-institucional">
            <div class="div-banner-institucional ">
                <h1 class="tituloInstitucional">Institucional</h1>
            </div>
        </section>
    </div>
    <!-- Seção Experiência -->
    <div class="geral-institucional">
        <section class="secao-22anos">
            <div class="container container-institucional">
                <div class="row div-institucional-excelencia">
                    <div class="col-md-6 d-flex col6-institucional">
                        <div class="col-1 paragrafo-amarelo paragrafo-amarelo-institucional">

                        </div>
                        <div class="col-11 texto-logo-institucional">

                            <h2>Mais de 22 Anos de Excelência em Construção Civil</h2>
                            <br>
                            <p>Desde 2002, a RFV Construtora é <br>
                                referência em obras de reforma, <br>
                                manutenção e infraestrutura para o <br>
                                setor público e privado. Com mais de <br>
                                duas décadas de história, entregamos <br> qualidade, eficiência e compromisso <br>
                                em cada projeto realizado.</p>
                            <button class="botao-entrar-contato"><a class="botao-conheca-obras"
                                    href="{% url 'obras' %}">ENTRAR
                                    EM
                                    CONTATO</a></button>

                        </div>
                    </div>

                    <div class="col-md-6 d-flex col6-institucional2">
                        <div class="col texto-logo-institucional logo-institucional institu-logo"
                            style="background-color: black;">
                            <div class="img-logo-institucional">
                                <img src="{% static 'img/home/logoempresa.png' %}" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Seção Certificações -->

        <div class="container container-valores">
            <div class="row" id="valores-empresa">
                <div class="col-lg-4 div-valores">
                    <img src="{% static 'img/institucional/missao.jpeg' %}" alt="" class="img-valores">
                    <h2 class="titulo-valores">Missão</h2>
                    <p class="paragrafo-valores div-valores0 text-center">Oferecer soluções completas e <br>
                        eficientes para obras públicas e <br>
                        privadas, garantindo qualidade <br>
                        e sustentabilidade.</p>

                </div>
                <div class="col-lg-4 div-valores div-valores1" id="collg4">
                    <img src="{% static 'img/institucional/visao.jpeg' %}" alt="" class="img-valores img-valores1">
                    <h3 class="titulo-valores">Visão</h3>
                    <p class="paragrafo-valores text-center">Ser reconhecida como a<br>
                        principal pareceira em<br>
                        obras de infraestrutura e<br>
                        saneamento no Brasil</p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 div-valores div-valores2" id="collg4">
                    <img src="{% static 'img/institucional/diamante.jpeg' %}" alt="" class="img-valores img-valores1">
                    <h2 class="titulo-valores">Valores</h2>
                    <p class="paragrafo-valores text-center">Compromisso<br>
                        Transparência, Qualidade<br>
                        Inovação, Sustentabilidade.</p>

                </div><!-- /.col-lg-4 -->

            </div>
        </div>

        <!-- Última Seção Institucional -->
        <div class="team-area pt-5">
            <div class="container container-missaovalores">
                <div class="row" id="missao-visao-valores">
                    <div class="col-lg-4 mb-3 mb-sm-0 imgComTitle imgComTitle1">
                        <img src="{% static 'img/institucional/img22Anos.jpeg' %}" alt="">
                    </div>
                    <div class="col-lg-4 mb-3 mb-sm-0 imgComTitle imgComTitle2">
                        <img src="{% static 'img/institucional/imgConstruindo.jpeg' %}" alt="">
                    </div>
                    <div class="col-lg-4 mb-3 mb-sm-0 imgComTitle imgComTitle3">
                        <img src="{% static 'img/institucional/imgExcelencia.jpeg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}