{% extends 'base.html' %}
{% load static %}


{% block title %}
Obras - Construtora RFV
{% endblock title %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock head %}


{% block body %}
<section class="ftco-section secao-obras section-pagina-obras">
    <div class="container">
        <div class="row">
            <div class="div-texto-pagina-obras d-flex">
                <div class="col-sm-1 paragrafo-amarelo-obras">
                </div>
                <div class="col-sm-5 div-obras-realizadas">
                    <h1 class="title-obras">Obras Realizadas</h1>
                    <br>
                </div>
            </div>

        </div>

        <div class="container">


            <div class="featured-carousel owl-carousel">
                {% for obra in obras %}
                <div class="item">
                    <a href="{% url 'obra' obra.id %}">
                        <img src="{{obra.imagens.all.0}}" alt="" loading="lazy">

                    </a>
                </div>

                {% endfor %}
            </div>
            <ion-icon name="ios-heart"></ion-icon>


        </div>
    </div>
</section>

<!-- SEÇÃO OBRAS EM ANDAMENTO -->
<section class="ftco-section secao-obras-em-adamento section-pagina-obras">
    <div class="container">
        <div class="row">
            <div class="div-texto-pagina-obras2 d-flex">
                <div class="col-sm-1 paragrafo-amarelo-obras">
                </div>
                <div class="col-sm-5 div-obras-realizadas">
                    <h1 class="title-obras">Obras Em Andamento</h1>
                    <br>
                </div>
            </div>
            <!-- <h2 class="subtitle-obras">Obras Em Andamento</h2> -->
        </div>

        <div class="container">


            <div class="featured-carousel owl-carousel">
                {% for obra in obras %}
                <div class="item">
                    <a href="{% url 'obra' obra.id %}">
                        <img src="{{obra.imagens.all.0}}" alt="" loading="lazy">

                    </a>
                </div>

                {% endfor %}
            </div>
            <ion-icon name="ios-heart"></ion-icon>


        </div>
    </div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock body %}